@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');


:root{

  --fonte-principal: 'Exo 2', sans-serif;
}

body{
    background: linear-gradient(to right, rgb(5, 75, 103), rgb(0, 162, 255));
}

.formulario{
    background-color: rgba(30, 137, 141, 0.612);
    height: 350px;
    width: 400px;
    margin: auto;
    margin-top: 180px;
    padding: 10px;
    border-radius: 15px;
}

fieldset{
    border: none;
}

legend{
    text-align: center;
    font-family: var(--fonte-principal);
}

input{
    height: 29px;
    width: 350px;
    border: none;
    border-radius: 5px;
    background-color: rgba(30, 152, 156, 0.357);
}

input:hover{
    cursor: pointer;
    border: none;
}

label{
}

div{
    padding: 10px;
}


button{
    margin-top: 60px;
    margin-left: 270px;
    height: 40px;
    width: 85px;
    border-radius: 20px;
    border: none;
    background-color: rgb(13, 72, 74);
}